<div class="createpassword-page--main-container">
  <kendo-card class="createpassword-page--kendo-card">
    <div class="createpassword-page--logo-img">
      <img src="assets/login-images/Group-img.svg" alt="new" />
    </div>
    <div class="createpassword-page--title">Create Password</div>
    <div class="createpassword-page--form-container">
      <form [formGroup]="loginForm" class="createpassword-page--login-form">
        <div class="createpassword-page--formfield">
          <div class="createpassword-page--formfield-user">
            <kendo-formfield>
              <kendo-textbox
                #newPassword
                placeholder="Create Password"
                [clearButton]="true"
                class="createpassword-page--textbox"
                formControlName="createpassword">
                <ng-template kendoTextBoxSuffixTemplate>
                  <button
                    kendoButton
                    look="clear"
                    [svgIcon]="eyeIcon"
                    (click)="toggleVisibility('newPassword')"></button>
                </ng-template>
                <ng-template kendoTextBoxPrefixTemplate>
                  <img
                    src="assets/login-images/password.svg/"
                    alt="new"
                    class="createpassword-page--textbox-img" />
                  <div></div>
                </ng-template>
              </kendo-textbox>
              <kendo-formerror class="createpassword-page-kendo-form-error"
                >New password is required</kendo-formerror
              >
            </kendo-formfield>
          </div>
          <kendo-formfield>
            <kendo-textbox
              #confirmPassword
              placeholder="Confirm Password"
              [clearButton]="true"
              class="createpassword-page--textbox"
              formControlName="confirmpassword">
              <ng-template kendoTextBoxSuffixTemplate>
                <button
                  kendoButton
                  look="clear"
                  [svgIcon]="eyeIcon"
                  (click)="toggleVisibility('confirmPassword')"></button>
              </ng-template>
              <ng-template kendoTextBoxPrefixTemplate>
                <img
                  src="assets/login-images/password.svg/"
                  alt="new"
                  class="createpassword-page--textbox-img" />
                <div></div>
              </ng-template>
            </kendo-textbox>
            <kendo-formerror class="createpassword-page-kendo-form-error"
              >Password is required</kendo-formerror
            >
          </kendo-formfield>
        </div>
        <div>
          <button
            kendoButton
            class="createpassword-page--signin-button"
            [disabled]="loginForm.invalid"
            (click)="onSubmit()">
            Sign In
          </button>
        </div>
      </form>
    </div>
  </kendo-card>
</div>
