<div class="contact-details-header">Contact Details<div class="user-main-headertag"></div></div>

<div class="user-contactdetails-content">
<div class="user-contact-details">
    <kendo-label class="user-label">Sold To Contact</kendo-label>
    <kendo-dropdownlist  [data]="areaList"></kendo-dropdownlist>
</div>
<div class="user-contact-details">
    <kendo-label class="user-label" >Sold To Site</kendo-label>
    <kendo-dropdownlist  [data]="area"></kendo-dropdownlist>
</div>

 
<kendo-formfield class="user-input-field" >
  <div>
  <kendo-label class="user-label">Deal Value</kendo-label>
  <kendo-textbox></kendo-textbox>
</div>
</kendo-formfield>

  <div class="user-contact-details">
    <kendo-label class="user-label">Region</kendo-label>
    <kendo-dropdownlist  [data]="list"></kendo-dropdownlist>
</div>
</div>